<!DOCTYPE html>
<html>
	<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1">	
	<link rel="stylesheet" href="https://developers.google.com/web/css/styles.min.css">
	<title>To-Do lists</title>
	<body>
		<h1>Your To-Do list</h1>		
		<form method="POST" action="/">		
			{% csrf_token  %}	
			<input name="item_text" type="text" id="id_new_item" placeholder="Enter a to-do item">
		</form>

		<table id="id_list_table">
			<thead>
				<th>Items</th>
			</thead>
			{% for item in items %}
				<tr>
					<td>{{ forloop.counter }}: {{ item.text }}</td>
				</tr>	
			{% endfor %}			
		</table>
	</body>
</html>